<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidades para <b>Estagiários</b> em Projetos de Pesquisa &amp; Desenvolvimento na área de <b>Biometria</b>.<br/><br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.</p><p>
<b>Requisitos Mandatórios</b>
<br/>- Estar cursando Ciência ou Engenharia da Computação ou cursos afins (a partir do 5º período)
						<br/>- Disponibilidade para trabalhar 30h semanais
						<br/>- Interesse em aprofundar seus conhecimentos nas linguagens Java, C++ e C#
						<br/>- Interesse em ampliar seus conhecimentos em testes de software
						<br/>- Interesse em ampliar seus conhecimentos em desenvolvimento para ambiente Linux
						<br/>- Interesse em ampliar seus conhecimentos em Biometria, Aprendizagem de Máquina e Processamento de Imagem/Voz
						</p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades, boa comunicação, gostar de desafios e interesse em pesquisas voltadas para a área de Biometria.
						</p><p>
<b>Requisitos Desejáveis</b>
<br/>- Background em Biometria, Aprendizagem de Máquina e Processamento de Imagens
						<br/>- Conhecimento da ferramenta Matlab
						<br/>- Conhecimento da biblioteca gráfica OpenCV
						<br/>- Facilidade para leitura de documentos em inglês
						<br/>- Interesse em Segurança da Informação
						</p><p>
<b>Interessado(a)?</b>
<br/>Enviar currículo e histórico escolar para <b>rhokibrasil@okibrasil.cin.ufpe.br</b> com a
						<br/>TAG <b>[Estágio-Biometria]</b> no <b>Assunto</b> até <b>19/10/2014</b>
</p>