<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidades para <b>Estagiários</b> em Projetos de Pesquisa &amp; Desenvolvimento na área de <b>Automação Comercial</b> e <b>Infraestrutura</b>.<br/><br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.</p><p>
<b>Requisitos Mandatórios</b>
<br/>- Estar cursando Ciência ou Engenharia da Computação ou cursos afins (a partir do 5º período)
						<br/>- Disponibilidade para trabalhar 30h semanais
						<br/>- Conhecimentos em C/C++
						<br/>- Interesse em aprofundar seus conhecimentos nas linguagens C e C++
						<br/>- Interesse em ampliar seus conhecimentos em desenvolvimento para ambientes Linux e Windows
						<br/>- Interesse em ampliar seus conhecimentos em administração de servidores e serviços no Linux e no Windows
						</p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades, boa comunicação, gostar de desafios e interesse em aprender novas tecnologias.
						</p><p>
<b>Requisitos Desejáveis</b>
<br/>- Conhecimentos de desenvolvimento para ambiente Linux e/ou Windows
						<br/>- Conhecimentos de administração de servidores Linux e/ou Windows
						<br/>- Conhecimentos de desenvolvimento Java com Jana Native Interface (JNI)
						<br/>- Conhecimentos em Padrões de Projetos (GoF)
						<br/>- Conhecimento UML
						<br/>- Conhecimentos de tecnologias Microsoft (Active Directory, DNS, SharePoint)
						<br/>- Conhecimentos de tecnologias de virtualização (VMWare Server, XenServer)
						</p><p>
<b>Interessado(a)?</b>
<br/>Enviar currículo e histórico escolar para <b>rhokibrasil@okibrasil.cin.ufpe.br</b> com a
						<br/>TAG <b>[Estágio-Infraestrutura]</b> no <b>Assunto</b> até <b>20/07/2014</b>
</p>