<p>
							A OKI Brasil anuncia o início de suas operações no Brasil, focadas em prover soluções de automação bancária, automação comercial e serviços tecnológicos. A empresa, que faz parte do grupo japonês OKI Electric, foi criada a partir da estrutura de Automações e Serviços da Itautec.
						</p><p>
							Formalizada em 10 de janeiro de 2014, a parceria estabelece OKI Electric e Itautec como sócias na OKI Brasil, com participações de 70% e 30%, respectivamente.
						  </p><p>
<em>Leia mais em: <a href="http://www.okibrasil.com/pt-br/noticias/2014/01/13/oki-brasil-inicia-suas-atividades" target="_blank">http://www.okibrasil.com/pt-br/noticias/2014/01/13/oki-brasil-inicia-suas-atividades</a></em>
</p>