<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidades para <b>Estagiários</b> em Projetos de Pesquisa &amp; Desenvolvimento na área de <b>Biometria</b>.<br/><br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.</p><p>
<b>Requisitos Mandatórios</b>
<br/>- Estar cursando Ciência da Computação (a partir do 5º período), Engenharia da Computação (a partir do 8º período) ou cursos afins
						<br/>- Disponibilidade para trabalhar 30h semanais
						<br/>- Interesse em aprofundar seus conhecimentos nas linguagens Java, C++ e C#
						<br/>- Interesse em aprofundar seus conhecimentos em desenvolvimento para ambientes Linux
						</p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades, boa comunicação, gostar de desafios e interesse em aprender novas tecnologias.
						</p><p>
<b>Requisitos Desejáveis</b>
<br/>- Conhecimento de desenvolvimento para ambientes Windows e/ou Linux
						<br/>- Conhecimento das linguagens de programação C++, Java e C#
						<br/>- Conhecimento em desenvolvimento web Java ou .NET
						<br/>- Conhecimentos em Engenharia de Software
						<br/>- Facilidade para leitura e escrita de documentos/artigos em inglês
						</p><p>
<b>Interessado(a)?</b>
<br/>Enviar currículo e histórico escolar para <b>rhokibrasil@okibrasil.cin.ufpe.br</b> com a
						<br/>TAG <b>[Estágio-Biometria]</b> no <b>Assunto</b> até <b>22/08/2017</b>
</p>