<p>
                       		Pela primeira vez, a Itautec participou da "Fingerprint Liveness Detection Competition 2013 (LivDet 2013)", competição organizada pelas universidades de Cagliari (Itália) e Clarkson (Estados Unidos). O concurso foi aberto para empresas e universidades que desenvolvem pesquisas e soluções em biometria e avaliou, dentre outras categorias, a eficácia de algoritmos na detecção de dedos falsos na autenticação biométrica.
						</p><p>
						 	A Itautec ficou na <b>segunda colocação na categoria "sensor Crossmatch"</b>, um tipo de sensor utilizado na maior parte dos aeroportos do mundo para o controle de acesso a fronteiras, <b>com o algoritmo "BioSD 1.0"</b>. A técnica foi desenvolvida pela equipe <b>Itautec Biometria do Centro de Informática da Universidade Federal de Pernambuco (CIn-UFPE)</b>, pesquisadores contratados pela universidade, cujo o trabalho é coordenado pela Itautec.
						  </p><p>
							Através do seu laboratório de pesquisa CIn-UFPE em Recife, a Itautec vem desenvolvendo nos últimos anos pesquisas na área de biometria referentes aos algoritmos inteligentes para detecção de impressões digitais falsas. Além de ser um dos destaques da LivDet 2013, estes trabalhos já tiveram reconhecimento na comunidade internacional pela sua relevância científica, com convites para apresentá-los ano passado em conferências em Brisbane (Austrália) e Seul (Coréia do Sul).
						 </p><p>
							A boa colocação na LivDet 2013 atesta a capacidade técnica da área de pesquisa da Itautec em desenvolver soluções com alto valor agregado para nossos clientes, relacionado aos aspectos de segurança dos usuários no uso da biometria. Mesmo não sendo um sistema oficial de certificação das soluções, a competição é uma referência para o setor acadêmico e de pesquisa industrial.
						 </p><p>
							Parabéns aos envolvidos!
						 </p>