<p>
                       		Com soluções integradas para o varejo, a Itautec participa pelo sexto ano consecutivo do Autocom − evento organizado pela Associação Brasileira de Automação Comercial, que promove os principais congressos e exposições de tecnologias para esse segmento no Brasil.
						</p><p>
						 	Com o conceito "one-stop shop", a empresa reforça sua capacidade de prover soluções completas para a governança corporativa dos varejistas de todos os segmentos, e em todo o território nacional, exibindo produtos e serviços que proporcionam um melhor atendimento ao cliente e o aumento da produtividade no PDV, além de ferramentas importantes para o controle e gestão das informações do negócio de forma centralizada.
						  </p><p>
							Entre as inovações estão as novas versões dos Selfcheckouts embarcados com o mais moderno Sistema de Frente de Loja, SIAC Store, com uma moderna interface de navegação, propiciando facilidade de operação para os usuários. O sistema traz o conceito de autoatendimento para o varejo e conta com o modelo QuickWay SelfCheckout PayTower, que traz comodidade, privacidade e agilidade aos clientes. Voltado ao setor supermercadista, tem design elegante e versátil, permitindo que dois usuários possam fazer suas compras simultaneamente em um só equipamento, ocupando o espaço de um único checkout convencional. Pagamentos podem ser feitos por cartões de débito e crédito, diminuindo o custo operacional dos estabelecimentos e possibilitando aumentar os pontos de atendimento, mesmo em horários diferenciados.
						 </p><p>
							Outra novidade é o Prizis Kiosk SelfCheckout, uma evolução do sistema de autoatendimento, pensado como solução acessível para farmácias e magazines em geral. A solução otimiza o tempo do consumidor e o gasto do varejista, já que automatiza processos operacionais. O equipamento possui scanner de código de barras, pinpad e tela de navegação. Os pagamentos podem ser feitos por meio de cartões de crédito e débito, com emissão de cupom fiscal através das tecnologias NFC-e (Nota Fiscal de Consumo Eletrônica)/SAT fiscal.
						 </p><p>
							As novidades Prizis Kiosk SelfCheckout e QuickWay SelfCkeckout PayTower contam ainda com a tecnologia CFTV (Circuito Fechado de Televisão), associada às etiquetas EAS, para monitorar a utilização do equipamento com câmeras - agregando segurança ao ambiente de vendas, prevenindo a perda e furto de produtos. Possui monitoramento remoto de uma assistente para suportar até 8 vias de atendimento simultaneamente.
						 </p><p>
<b>Biometria</b>
</p><p>
							Outra inovação apresentada pela empresa consiste no uso de soluções de Biometria para a gestão do ambiente de trabalho no varejo, permitindo a identificação e cadastro de funcionários e clientes. O sistema, desenvolvido com base na experiência da Itautec com esta tecnologia, é agora apresentado com custos acessíveis para o mercado varejista, o que vai colaborar para a prevenção de perdas e fraudes, fonte de grande preocupação nesse mercado. A companhia desenvolveu softwares e leitores de impressão digital e apresenta no evento uma solução confiável e acessível para estabelecimento de todos os portes.
						 </p><p>
<b>Mobilidade</b>
</p><p>
							Outra inovação no ponto de venda é a solução de PDV Móvel, baseada no SIAC Mobile PDV, versão do software SIAC Store (Sistema Itautec de Automação Comercial) portado para rodar em tablets com o sistema Android.  A solução permite a realização de vendas em qualquer lugar da loja, próximo ao produto de desejo do cliente, permitindo capitalizar as vendas por impulso e dando um novo caráter às vendas promocionais, evitando a desistência do cliente quando este precisa se deslocar até uma estação de trabalho para finalizar a compra. Além de inovadora, a solução traz um grande diferencial para o varejista ao prover um atendimento mais dinâmico e arrojado. A solução fornece ainda ao lojista novas opções de uso do terminal, como a oferta de vendas consultivas ou personalizadas, pesquisas de opinião no salão de vendas, funções gerenciais, cadastro de clientes, entre outros.
						 </p><p>
<b>Promoções em tempo real</b>
</p><p>
							Outro destaque importante do estande da Itautec é a mais nova versão da Etiqueta Eletrônica, solução que permite a gestão dos preços e promoções de forma simples, eficaz e centralizada. Por utilizar o conceito de papel eletrônico (e-paper), a etiqueta possibilita ao varejista apresentar as informações do produto de diversas formas, inclusive, com o uso de imagens, possibilitando desenhar códigos de barras, QR-Codes, logomarcas para merchandising, entre outras peças de marketing.
						 </p><p>
							Todas essas inovações podem ser visualizadas no vídeo promocional da Autocom 2013:
						 </p>
<div class="center">
						 <iframe width="560" height="315" src="https://www.youtube.com/embed/37Y05KIVl_8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>