<p>
A coleta faz parte de uma cooperação internacional e acontece de 13 a 16 de maio.
</p><p>
Durante os dias 13 a 16 de maio, o Centro de Informática (CIn) da UFPE sediará um evento de coleta de impressões digitais, organizado pelo Laboratório Itautec CIn-UFPE em parceria com a empresa Lumidigm, <a href="http://www.lumidigm.com/" target="_blank">http://www.lumidigm.com</a>, uma das líderes mundiais em soluções de autenticação de usuários. A coleta faz parte de uma cooperação internacional gerenciada pela empresa, que já organizou esse mesmo evento nos Estados Unidos, Índia e China.
</p><p>
O estudo é de grande importância para as pesquisas na área de biometria do Laboratório Itautec CIn-UFPE, sobretudo nos estudos referentes a falsificações de impressões digitais, que inclusive já apresentam resultados reconhecidos em eventos internacionais e periódicos. Além de trazer reconhecimento acadêmico ao CIn, estas pesquisas resultarão em produtos e serviços com tecnologia de ponta oferecidos pela Itautec S.A., multinacional 100% brasileira.
</p><p>
Qualquer pessoa pode participar e o processo de coleta dura menos de 10 minutos. O procedimento consiste no cadastro das impressões digitais utilizando sensores e materiais sintéticos. Além disso, os pesquisadores entregarão um termo de compromisso assegurando que nenhuma informação sobre a identidade do participante será utilizada no estudo.
</p><p>
Há uma meta a ser atingida por faixa etária, e os primeiros a cooperarem com esta meta serão recompensados com brindes providos pela Lumidigm e pela Itautec.
</p><p>
O ponto de coleta será próximo à entrada principal do CIn, conforme os horários abaixo:
</p>
<p>
<ul>
	<li>	Segunda-feira (13/05), 14h às 17h.</li>
	<li>Terça-feira (14/05), 9h30 às 13h, 14h às 17h.</li>
	<li>Quarta-feira (15/05), 9h30 às 13h, 14h às 17h.</li>
	<li>Quinta-feira (16/05), 9h30 às 13h, 14h às 17h.</li>
</ul></p>


<img src="images/noticia_20130513_bio.png" height="400/">