<p>
                       		 A relevância científica da pesquisa desenvolvida pela equipe Biometria do Laboratório CIn/UFPE foi reconhecida pela IEEE International Joint Conference on Neural Network (IEEE IJCNN). O trabalho realizado em Recife avaliou o desempenho, sob diversas circunstâncias e configurações, de um sistema inteligente desenvolvido para detecção automatizada de impressões digitais falsas.
						</p><p>
						 	  A Coordenação de Aperfeiçoamento de Pessoal de Nível  Superior (CAPES), no Brasil, classifica a relevância dos eventos científicos de todas as áreas do conhecimento em oito categorias (conceito Qualis). Na avaliação mais recente, a IEEE IJCNN foi classificada com Qualis A2, o que representa o segundo maior conceito.
						  </p><p>
							Este ano, esta conferência será realizada em Brisbane (Austrália) em conjunto com a IEEE International Conference on Fuzzy Systems e o IEEE Congress on Evolutionary Computation reunindo pesquisadores de todos os continentes em um dos maiores eventos sobre inteligência computacional no mundo:  o IEEE World Congress on Computational Intelligence.
						 </p><p>
							A aprovação do trabalho pelo comunidade científica internacional equipara a capacidade técnica do Laboratório Itautec CIn/UFPE com outros centros de pesquisa ao redor do mundo, dando especial destaque às instituições patrocinadoras do projeto - UFPE e ITAUTEC.
                        </p><p>
                         Mais informações em:  <a href="http://www2.cin.ufpe.br/site/lerNoticia.php?s=1&amp;c=94&amp;id=528">http://www2.cin.ufpe.br/site/lerNoticia.php?s=1&amp;c=94&amp;id=528</a>
</p>