<p>A Itautec S.A. e o Centro de Informática/UFPE oferecem oportunidades para <b>Estagiários</b> em Projetos de Pesquisa &amp; Desenvolvimento na área de <b>Automação Comercial</b>.<br/><br/>Oportunidade de trabalhar em parceria com a <b>Itautec São Paulo</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.</p><p>
<b>Requisitos Mandatórios</b>
<br/>- Estar cursando Ciência ou Engenharia da Computação ou cursos afins (a partir do 5º período)
						<br/>- Disponibilidade para trabalhar 30h semanais
						<br/>- Interesse em aprofundar seus conhecimentos nas linguagens Java e nos SGBDs Oracle e SQL Server
						<br/>- Interesse em ampliar seus conhecimentos em testes de software
						</p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades, boa comunicação, gostar de desafios e interesse em aprender novas tecnologias.
						</p><p>
<b>Requisitos Desejáveis</b>
<br/>- Conhecimentos de desenvolvimento para ambiente Linux e/ou Windows
						<br/>- Conhecimentos dos frameworks de desenvolvimento Java (Hibernate, Struts, Spring)
						<br/>- Conhecimento na tecnologia Java Web (Java Server Faces (JSF) + xhtml, Facelets, Primefaces, Richfaces e MyFaces Tomahawk, Ajax)
						<br/>- Ter conhecimento em algumas ferramentas de testes (TestLink, Bugzilla, Selenium)
						<br/>- Conhecimento em desenvolvimento em VB .Net
						</p><p>
<b>Interessado(a) ?</b>
<br/>Enviar currículo para <b>rhitautec@itautec.cin.ufpe.br</b> com a
						<br/>TAG <b>[Estágio-Aut.Comercial]</b> no <b>Assunto</b> até <b>18/09/2011</b>
<br/>Candidatos para as vagas de <b>estágio</b> também devem enviar o <b>histórico escolar</b>
</p>