<p>A Itautec S.A. e o Centro de Informática/UFPE oferecem oportunidades para <b>Estagiários</b> em Projetos de Pesquisa &amp; Desenvolvimento nas áreas de <b>Biometria</b> e <b>Automação Comercial</b>.<br/><br/>Oportunidade de trabalhar num <b>horário flexível</b>, em parceria com a <b>Itautec São Paulo</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.</p><p>
<b>Estagiários</b>
<br/>- Estar cursando Ciência ou Engenharia da Computação ou cursos afins (a partir do 5º período)
						<br/>- Disponibilidade para trabalhar 30h semanais
						<br/>- Interesse em aprofundar seus conhecimentos nas linguagens Java, C/C++ ou C#
						<br/>- Oportunidades em desenvolvimento para ambiente Linux e em automação de testes
						</p><p>
<b>Interessado(a) ?</b>
<br/>Enviar currículo para <b>rhitautec@itautec.cin.ufpe.br</b> até <b>15/03/2011</b>
<br/>Candidatos para as vagas de <b>estágio</b> também devem enviar o <b>histórico escolar</b>
</p>