<p>A Itautec S.A. e o Centro de Informática/UFPE oferecem oportunidades para Engenheiros de Software e Estagiários em Projetos de Pesquisa &amp; Desenvolvimento nas áreas de <b>Biometria</b>, <b>Automação Comercial</b> e <b>Diagnóstico de Hardware (Linux)</b>. <br/><br/>Oportunidade de trabalhar num <b>horário flexível</b>, em parceria com a <b>Itautec São Paulo</b>, no desenvolvimento de soluções para clientes <b>nacionais</b> e <b>internacionais</b>.</p><p>
<b>Estagiários</b>
<br/>- Estar cursando Ciência ou Engenharia da Computação ou cursos afins (a partir do 5º período)
						<br/>- Disponibilidade para trabalhar 30h semanais
						<br/>- Interesse em aprofundar seus conhecimentos nas linguagens Java, C/C++ ou C#
						<br/>- Oportunidades em desenvolvimento para ambientes Linux/Windows e em testes/documentação
						</p><p>
<b>Engenheiros de Software</b>
<br/>- Formação em Ciência/Engenharia da Computação ou afins
						<br/>- Experiência na linguagem Java
						<br/>- Experiência com J2EE e Struts/Hibernate
						<br/>- Desejável experiência com bancos de dados (MS SQL Server, Oracle, DB2 e MySQL)
						</p><p>
<b>Interessado(a) ?</b>
<br/>Enviar currículo para <b>rhitautec@itautec.cin.ufpe.br</b> até <b>27/09/2010</b>
<br/>Candidatos para as vagas de <b>estágio</b> também devem enviar o <b>histórico escolar</b>
</p>