<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidades para <b>Estagiários</b> no desenvolvimento de uma linha de produtos de sistemas inteligentes de tesouraria.<br/><br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.</p><p>
<b>Requisitos Mandatórios</b>
<br/>- Estar cursando Ciência da Computação (a partir do 5º período), Engenharia da Computação (a partir do 8º período) ou cursos afins
						<br/>- Disponibilidade para trabalhar 30h semanais
						<br/>- Conhecimentos em desenvolvimento Java
						<br/>- Interesse em aprofundar seus conhecimentos em Java e técnicas e ferramentas de Engenharia de Software
						</p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades, boa comunicação, gostar de desafios e interesse em aprender novas tecnologias.
						</p><p>
<b>Requisitos Desejáveis</b>
<br/>- Conhecimentos de desenvolvimento utilizando o framework Hibernate
						<br/>- Conhecimentos em JSF e PrimeFaces
						<br/>- Conhecimentos em testes, sistemas de controle de versão e técnicas e ferramentas de engenharia de software, incluindo métodos ágeis de desenvolvimento
						<br/>- Conhecimento do domínio do varejo
						<br/>- Facilidade para leitura de documentos em inglês
						</p><p>
<b>Interessado(a)?</b>
<br/>Enviar currículo e histórico escolar para <b>rhokibrasil@okibrasil.cin.ufpe.br</b> com a
						<br/>TAG <b>[Estágio-Desenvolvimento de software]</b> no <b>Assunto</b> até <b>23/09/2016</b>
</p>