<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidades para <b>Estagiários</b>
     em Projetos de Pesquisa & Desenvolvimento na área de <b>Biometria</b>.
     
<br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.

</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.
Formalizada em 10 de janeiro de 2014, a
parceria estabelece OKI Electric e Itautec como
sócias na OKI Brasil S.A.
</p><p>
<b>Requisitos Mandatórios</b>
<br/>- Estar cursando Ciência da Computação, Engenharia da Computação ou cursos afins (a partir do 5º período);
                        <br/>- Disponibilidade para trabalhar 30h semanais;
                        <br/>- Interesse em aprofundar seus conhecimentos nas linguagens Java, C++ e C#;
                        <br/>- Interesse em aprofundar seus conhecimentos em desenvolvimento para ambientes Linux;
                        <br/>- Interesse em ampliar seus conhecimentos em desenvolvimento para ambiente Android;
                        <br/>- Interesse em ampliar seus conhecimentos em Biometria.
                        </p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades,
boa comunicação, gostar de desafios e interesse em pesquisas voltadas para a área de
Biometria.
                        </p><p>
<b>Requisitos Desejáveis</b>
                        <br/>- Conhecimentos de desenvolvimento para ambientes Windows e/ou Linux.
                        <br/>- Conhecimento das linguagens de programação C++, Java e C#.
                        <br/>- Conhecimentos de desenvolvimento web Java ou .NET.
                        <br/>- Conhecimentos de desenvolvimento para Android ou iOS.
                        <br/>- Conhecimentos de Engenharia de Software.
                        <br/>- Facilidade para leitura e escrita de documentos/artigos em inglês.
                        </p><p>
<b>Interessado(a)?</b>
<br/>Enviar currículo e histórico escolar para <b>rhokibrasil@okibrasil.cin.ufpe.br</b> com a
                        <br/>TAG <b>[Estágio-Biometria]</b> no <b>Assunto</b> até <b>14/04/2019</b>
</p>