<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidade para <b>Estagiário</b> no desenvolvimento na área de <b>Automação Comercial</b>.<br/><br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.</p><p>
<b>Requisitos Mandatórios</b>
      <br/>- Estar cursando Ciência da Computação (a partir do 4º período), Engenharia da Computação (a partir do 4º período) ou cursos afins
      <br/>- Disponibilidade para trabalhar 30h semanais
      <br/>- Conhecimentos em desenvolvimento Java
      <br/>- Interesse em aprofundar seus conhecimentos em Java e técnicas e ferramentas de Engenharia de Software
      </p><p>
<b>Perfil Desejado</b>
      <br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades, boa comunicação, gostar de desafios e interesse em aprender novas tecnologias.
                                    </p><p>
<b>Requisitos Desejáveis</b>
      <br/>- Conhecimentos em desenvolvimento Java Web
      <br/>- Conhecimentos de desenvolvimento de sistemas web (JSF + Primefaces, HTML, Javascript)
      <br/>- Conhecimentos em testes, sistemas de controle de versão (Git e SVN) e técnicas e ferramentas de engenharia de software, incluindo métodos ágeis de desenvolvimento
      <br/>- Conhecimentos em boas práticas de orientação a objetos
      <br/>- Conhecimento em levantamento de requisitos
      <br/>- Conhecimento do domínio do varejo
      <br/>- Facilidade para leitura de documentos em inglês
</p><p>
<b>Interessado(a)?</b>
<br/> As inscrições deverão ser feitas através do preenchimento do <a href="https://bit.ly/2LSeBP5">formulário eletrônico</a> e envio do currículo e histórico escolar para o e-mail <b>rhokibrasil@okibrasil.cin.ufpe.br</b>.
<br/>
Para mais informações acesse o edital disponível <a href="http://fade.org.br/wp-content/uploads/2019/10/edital-estagio-OKI.pdf">aqui</a>.
</p>