<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidade para <b>Bolsista de Mesteado</b>
     na área de <b>Engenharia de Software</b> no desenvolvimento de uma linha de produtos de sistemas inteligentes de tesouraria.
     
<br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.

</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.
Formalizada em 10 de janeiro de 2014, a
parceria estabelece OKI Electric e Itautec como
sócias na OKI Brasil S.A.

</p><p>

<b>Requisitos Mandatórios</b>
      <br/> -Estar cursando Mestrado em Ciência da Computação;
      <br/> -Graduado em Ciência da Computação, Engenharia da Computação, ou cursos afins;
      <br/> -Disponibilidade para trabalhar 30hs semanais;
      <br/> -Conhecimentos e experiência em desenvolvimento Java;
      <br/> -Interesse em aprofundar seus conhecimentos em Java e técnicas e ferramentas de Engenharia de Software.

</p><p>

<b>Perfil Desejado</b>
      <br/> -Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades, boa comunicação, gostar de desafios e interesse em aprender novas tecnologias.

</p><p>

<b>Requisitos Desejáveis</b>
      <br/>- Conhecimentos em desenvolvimento Java Web;
      <br/>-Conhecimentos de desenvolvimento de sistemas web (JSF + Primefaces, HTML, Javascript);
      <br/>-Conhecimentos em testes, sistemas de controle de versão (Git e SVN), e técnicas e ferramentas de engenharia de software, incluindo métodos ágeis de desenvolvimento;
      <br/>-Conhecimento em boas práticas de orientação a objetos;
      <br/>-Conhecimento em levantamentos de requisitos;
      <br/>-Conhecimento do domínio do varejo;
      <br/>-Facilidade para leitura de documentos em inglês.

</p><p>

<font size="+1" color="red">Valor da Bolsa Diferenciado.</font>

</p><p>

<b>Interessado(a)?</b>
<br/>Enviar currículo e histórico escolar para <b>rhokibrasil@okibrasil.cin.ufpe.br</b> com a
                        <br/>TAG <b>[Bolsista de Mestrado - Engenharia de Software]</b> no <b>Assunto</b> até <b>27/10/2019</b>
</p>