<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidades para <b>Estagiários</b>
     em Projetos de Pesquisa & Desenvolvimento na área de <b>Biometria</b>.
     
<br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.

</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.
Formalizada em 10 de janeiro de 2014, a
parceria estabelece OKI Electric e Itautec como
sócias na OKI Brasil S.A.
</p><p>
<b>Requisitos Mandatórios</b>
<br/>-Estar cursando Ciência da Computação (a partir do 5º período), Engenharia da Computação (a partir do 5º período), Sistemas de Informação (a partir do 5º período) ou cursos afins;
                        <br/>- Disponibilidade para trabalhar 30h semanais (horário flexível);
                        <br/>- Interesse em aprofundar seus conhecimentos nas linguagens Java, C++ e C#;
                        <br/>- Interesse em ampliar seus conhecimentos em desenvolvimento para ambiente Linux;
                        <br/>- Interesse em ampliar seus conhecimentos em desenvolvimento para ambiente Android;
                        <br/>- Interesse em ampliar seus conhecimentos em Biometria.
                        </p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades,
boa comunicação, gostar de desafios e interesse em pesquisas voltadas para a área de
Biometria.
                        </p><p>
<b>Requisitos Desejáveis</b>
                        <br/>- Conhecimentos de desenvolvimento para ambientes Windows e/ou Linux.
                        <br/>- Conhecimento das linguagens de programação C++, Java e C#.
                        <br/>- Conhecimentos de desenvolvimento web Java ou .NET.
                        <br/>- Conhecimentos em desenvolvimento Android e/ou iOS (Xamarin, Android Studio, React-Native).
                        <br/>- Conhecimentos em testes, sistemas de controle de versão (Git e SVN), e técnicas e ferramentas de engenharia de software, incluindo métodos ágeis de desenvolvimento.
                        <br/>-Conhecimento em boas práticas de programação e orientação a objetos;
                        <br/>- Facilidade para leitura e escrita de documentos/artigos em inglês.
                        </p><p>
<b>Interessado(a)?</b>
<br/> As inscrições deverão ser feitas através do preenchimento do <a href="https://bit.ly/2CX8iTd">formulário eletrônico</a> e envio do currículo e histórico escolar para o e-mail <b>rhokibrasil@okibrasil.cin.ufpe.br</b>.
<br/>
Para mais informações acesse o edital disponível <a href="http://fade.org.br/wp-content/uploads/2019/11/191119124556-1.pdf">aqui</a>.
</p>