<p>A americana NCR anunciou nesta quinta-feira a compra de ativos da japonesa Oki no Brasil. A operação envolve as áreas de serviços de tecnologia e alguns ativos de software para os setores de finanças, varejo, entre outros. Não fazem parte do acordo a operação fabril, que já havia sido desativada pela Oki, nem a operação no mercado de impressoras.
A Oki teve uma expansão importante de sua operação no Brasil em 2013 quando comprou as operações da Itautec por R$ 100 milhões, mas nos últimos tempos vinha enfrentando dificuldades em avançar no país. Um dos principais clientes da companhia é o Pão de Açúcar - herdado da Itautec.
Para mais informações acesse <a href="https://valor.globo.com/empresas/noticia/2019/06/06/ncr-compra-negocios-da-japonesa-oki-no-brasil.ghtml">aqui</a>.
</p>