<p>A NCR Tech e o Centro de Informática-UFPE oferecem oportunidades para <b>Estagiários</b>
     em Projetos de Pesquisa & Desenvolvimento na área de <b>Automação Industrial</b>.
     
<br/>Oportunidade de trabalhar em parceria com a <b>NCR Corporation S.A.

</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.

</p><p>
<b>Requisitos Mandatórios</b>
<br/>-Estar cursando Ciência da Computação (a partir do 5º período), Engenharia da Computação (a partir do 5º período), Sistemas de Informação (a partir do 5º período) ou cursos afins;
                        <br/>- Disponibilidade para trabalhar 30h semanais (horário flexível);
                        <br/>- Interesse em aprofundar seus conhecimentos nas linguagens Java(EE) e Wildfly;
                        <br/>- Interesse em ampliar seus conhecimentos em desenvolvimento para ambiente Linux;
                        <br/>- Interesse em ampliar seus conhecimentos em Orientação a objetos.
                        </p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades,
boa comunicação, gostar de desafios e interesse em pesquisas voltadas para a área de
Biometria.
                        </p><p>
<b>Requisitos Desejáveis</b>
                        <br/>- Conhecimentos de desenvolvimento para ambientes Windows e/ou Linux.
                        <br/>- Conhecimento das linguagens de programação Java/ WildFly.
                        <br/>- Conhecimentos em testes, sistemas de controle de versão (Git e SVN), e técnicas e ferramentas de engenharia de software, incluindo métodos ágeis de desenvolvimento.
                        <br/>- Facilidade para leitura e escrita de documentos/artigos em inglês.
                        </p><p>
<b>Interessado(a)?</b>
<br/> As inscrições deverão ser feitas através do preenchimento do <a href="https://bityli.com/hCMls">formulário eletrônico</a></b>.
<br/>
Para mais informações acesse o edital disponível <a href="https://fade.org.br/wp-content/uploads/2021/05/Edital-042_2021.pdf">aqui</a>.
</p>