<p>A OKI Brasil e o Centro de Informática-UFPE oferecem oportunidades para <b>Bolsista de Mestrado</b> em Projetos de Pesquisa &amp; Desenvolvimento na área de <b>Biometria</b>.<br/><br/>Oportunidade de trabalhar em parceria com a <b>OKI Brasil S.A.</b>, no desenvolvimento de soluções para <b>clientes nacionais</b> e <b>internacionais</b>.</p><p>
<b>Requisitos Mandatórios</b>
<br/>- Estar cursando Mestrado em Ciência da Computação
						<br/>- Disponibilidade para trabalhar 30h semanais
						<br/>- Conhecimentos em C++ e Java ou C#
						<br/>- Interesse em aprofundar seus conhecimentos em Biometria e nas linguagens C++, Java e C#
						</p><p>
<b>Perfil Desejado</b>
<br/>- Habilidade para trabalhar em equipe, proatividade e comprometimento com as atividades, boa comunicação, gostar de desafios e interesse em aprender novas tecnologias.
						</p><p>
<b>Requisitos Desejáveis</b>
<br/>- Conhecimentos de desenvolvimento para ambiente Linux e/ou Windows
						<br/>- Conhecimentos em testes unitários
						<br/>- Facilidade para leitura de documentos em inglês
						</p><p>
<b>Interessado(a)?</b>
<br/>Enviar currículo e histórico escolar para <b>rhokibrasil@okibrasil.cin.ufpe.br</b> com a
						<br/>TAG <b>[Bolsista de Mestrado-Biometria]</b> no <b>Assunto</b> até <b>06/05/2016</b>
</p>