<!DOCTYPE html>
<html lang="en">
<head>
   	<% include ./base/head %>
</head>
<body>
	<% include ./base/header %> 
  	<main>
        <div class="parallax-container">
            <div class="parallax "><img src="images/lab7.jpg"></div>
        </div>
        <div class="section white">
                <div class=" row container container-mid">
                    
                  <h2 class="header ">Notícias</h2>     
              <% for(var i =0; i < JSON.parse(noticias).length; i++) { %>
                  <div class="card ">               
                        <div class="card-content">
                            <div class="row">	
                                <span class="card-title  grey-text text-darken-4">
                                    <a href="/noticia?idnoticia=<%= JSON.parse(noticias)[i].path%>"><%= JSON.parse(noticias)[i].titulo%></a>
                                    <a class="right black-text" style="font-size: 15px;"><%= JSON.parse(noticias)[i].data%></a>
                                </span>
                            </div>
                          <p><%= JSON.parse(noticias)[i].resumo%></p>
                      </div>                
                  </div>
              <% } %>             
            </div>
	    </div>
	</main> 
	<% include ./base/footer %>
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.js"></script>
	<script src="js/init.js"></script>

	</body>
</html>