<p>Resultado de um investimento de mais de R$ 1,5 milhão
em hardware e equipamentos, o <b>Laboratório
NCR Tech</b> está localizado no Centro de
Informática da Universidade Federal de Pernambuco.</p>

<p>Como previsto pelo convênio com o Centro de
Informática da UFPE, um espaço foi
disponibilizado exclusivamente para abrigar o
laboratório. Sua estrutura conta com 1
laboratório de pesquisa e desenvolvimento, 1 sala de
servidores e 1 sala de reuniões, totalizando uma
área de pelo menos 100m².</p>

<p>Além da colaboração frequente de
consultores, a <strong>NCR Tech CIn-UFPE</strong>
conta com uma equipe de 17 pessoas, entre professores,
profissionais do mercado e estudantes, alocados em
atividades de administração,
coordenação e desenvolvimento.</p>