<footer class="page-footer" style="
    background-color: #54b948;">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Laboratório OKI Brasil</h5>
              <p class="grey-text text-lighten-4">Av. Jornalista Anibal Fernandes,
                 S/N - Centro de Informática <br> CEP: 50740-560
                  - Cidade Universitária (Campus Recife) - Recife/PE
              </p>
    
    
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Fax</h5>
              <ul>
                <li><a class="white-text" >+55 81 2126-8430</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Contato</h5>
              <ul>
                <li><a class="white-text">+55 81 3454-1300</a></li>
                <li><a class="white-text">+55 81 3453-9213</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            Laboratório OKI Brasil® 2015 - Todos os direitos reservados
          </div>
        </div>
      </footer>