<nav class="" role="navigation" style="
    background-color: #54b948;"
 >

    <div class="nav-wrapper container  ">
        <a id="logo-container" href="/" class="brand-logo">
            <img src="images/logo_ncr.png">
        </a>
        <ul class="right hide-on-med-and-down">           
            <li><a href="/convenio">Convênio</a></li>
            <li><a href="/laboratorio">Laboratório</a></li>    
            <li><a href="/projetos">Projetos de Pesquisa</a></li>            
            <li><a href="/noticias">Notícias</a></li>  
            <li><a href="/contato">Contato</a></li>            
        </ul>
        
        <ul id="nav-mobile" class="right sidenav">
                <li><a href="/convenio">Convênio</a></li>
                <li><a href="/laboratorio">Laboratório</a></li>
                <li><a href="/projetos">Projetos de Pesquisa</a></li>                
                <li><a href="/noticias">Notícias</a></li>
                <li><a href="/contato">Contato</a></li>  
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>