<p class="p_class" >O BI SIGA permite obter informações estratégicas a partir do sistema SIGA. A tecnologia de Business Intelligence proporciona alto desempenho, segurança e flexibilidade. Estão disponíveis vários relatórios gerenciais com métricas comuns, permitindo a consulta de todo o histórico disponível. Através de um agente otimizado para tráfego incremental de dados, os dados de todas as agências são consolidados em um armazém de dados central.</p>

<p class="p_class" >A partir do armazém de dados, também faz parte da solução um conjunto de cubos que podem ser consumidos por qualquer aplicativo de visualização de BI. A documentação da estrutura do cubo acompanha o produto, para permitir convenientemente o uso da informação estratégica. Os relatórios são altamente personalizáveis e flexíveis, permitindo ricos recursos visuais, como gráficos, indicadores e mapas. É possível também criar relatórios.</p>

<p class="p_class" >O BI SIGA é a extensão natural para o SIGA, proporcionando agilidade, abrangência, flexibilidade e precisão na análise gerencial de informações estratégicas.</p>

<p class="p_class">Podemos mencionar as vantagens a seguir:</p>

<ul style="padding-left: 5%;">
	<li style=" list-style-type: circle;">Uso otimizado de hardware para a geração de relatórios gerenciais.</li>
	
	<li style=" list-style-type: circle;">Tempo reduzido para a exibição de relatórios, mesmo envolvendo um grande volumes de dados</li>
	
	<li style=" list-style-type: circle;">Suporte a vários formatos de exportação dos relatórios: PDF, XLS, DOC, TIFF e RSS.</li>
	
	<li style=" list-style-type: circle;">Flexibilidade de consulta dos dados em um cubo do Analysis Services</li>
	
	<li style=" list-style-type: circle;">Configuração de segurança versátil e granular para leitura de conteúdo restrito aos dados do cubo</li>
	
	<li style=" list-style-type: circle;">Uso de linguagem especializada (MDX) para consultas gerenciais</li>
	
	<li style=" list-style-type: circle;">Flexibilidade para personaliz ação e criação de novos relatórios</li>