<p class="p_class">A segurança tem sido sempre uma preocupação para as organizações, principalmente quando se trata do acesso e utilização de sistemas restritos. Assim, a autenticação de usuários vem exigindo esforço constante no desenvolvimento e implementação de soluções mais seguras e sofisticadas.</p>

<p class="p_class">Conjugando segurança, comodidade e baixo custo, o MobiCash concebe e implementa um novo formato para a autenticação de usuários baseada na geração e uso de senhas descartáveis.</p>

<p class="p_class">O modelo de autenticação de usuários baseado em senhas descartáveis vem conquistando o território até então ocupado pelas senhas estáticas. O sistema consiste na geração de senhas por meio de um dispositivo móvel – conhecido como token. A cada solicitação do usuário, um cálculo é feito resultando numa nova senha, geralmente diferente da anterior. O aplicativo se encontra em fase de testes.</p>

<p class="p_class">Vencedor do <b>Prêmio Excelência em P&D</b> na categoria automação bancária e comercial, promovido pelo Anuário Informática Hoje 2008, o MobiCash se destaca de outras soluções de senhas descartáveis por se tratar de um aplicativo, podendo ser instalado em qualquer aparelho celular com suporte a Java. A solução permite ainda ao usuário reunir num mesmo aparelho geradores de senhas de diversas instituições, como bancos, supermercados, lojas etc., oferecendo conforto e segurança na realização de operações financeiras.</p>

<p class="p_class">Para mais informações sobre o MobiCash, acesse o folheto de apresentação clicando <a href="pdf/PAG_104_114_PD.pdf">aqui</a>.</p>