<p class="p_class">O convênio entre a OKI Brasil e o Centro de
Informática resulta em vantagens para a Universidade
e para os estudantes, profissionais e empresas envolvidas.
Entre os principais benefícios, podem-se destacar:</p>

<ul style="padding-left: 5%;">
    <li style=" list-style-type: circle;">Compartilhamento de conhecimentos entre a Universidade e
        empresas privadas.</li>
    <li style=" list-style-type: circle;">Fomento à cooperação entre
        estudantes e profissionais.</li>
    <li style=" list-style-type: circle;">Oportunidade dos jovens aplicarem os conhecimentos
        construídos na Universidade.</li>
    <li style=" list-style-type: circle;">Estímulo ao diálogo entre a pesquisa
        acadêmica e o desenvolvimento de
        soluções voltadas às necessidades
        concretas dos setores público e privado.</li>
    <li style=" list-style-type: circle;">Requalificação dos laboratórios da
        Universidade por meio da doação de
        computadores, servidores, móveis e outros
        equipamentos após seu uso.</li>
</ul>