<p class="p_class">Desenvolver projetos de Pesquisa, Desenvolvimento e
Inovação estimulando o estabelecimento de
sinergias entre a NCR Tech e o Centro de
Informática da Universidade Federal de Pernambuco.
</p>