<p class="p_class" >Inaugurado em maio de 2003, o <b>Laboratório NCR Tech </b> do
Centro de Informática da UFPE, antigo Laboratório Itautec,
foi criado com a missão de realizar testes
de desempenho de servidores, focando no TPC-C, benchmark
internacionalmente aceito definido pela TPC (Transaction
Processing Performance Council).</p>

<p class="p_class">Ainda em 2003, a parceria do Centro de Informática da UFPE com a Itautec Philco,
hoje Itautec S.A., começou a dar os primeiros resultados. Foi neste ano que o 
laboratório realizou a primeira publicação TPC-C da América Latina e iniciou a trajetória
de excelência em análise de desempenho que culminou, em 2005, com a obtenção do primeiro lugar
no benchmark TPC-C entre os servidores mono-processados,
batendo concorrentes como HP, IBM, Dell, entre outros.</p>

<p class="p_class">A partir de 2005, o laboratório iniciou sua diversificação
das linhas de ação para áreas como Capacity Planning,
desenvolvimento de aplicações móveis para autenticação e
desenvolvimento de testes de compatibilidade de hardware
para Linux.</p>

<p class="p_class" >Na área de análise de desempenho, o know-how de mais de 3
anos de testes TPC-C, assumindo inclusive o posto de membro
da organização TPC, deu ao laboratório a base necessária
para iniciar, em 2006, o projeto Capacity Planning. Neste
projeto, foram desenvolvidos sistemas para realização de
testes de desempenho em soluções da Itautec como o SCOPE
(transferência eletrônica de fundos) e o SIAC (automação
comercial), de forma a simular um ambiente de produção.</p>

<p class="p_class">Também em 2006, o laboratório iniciou o projeto HCT
(Hardware Compatibility Test) com a missão de desenvolver um
software que permitisse a realização de testes de
compatibilidade de hardware para o Librix, a distribuição
Linux nacional desenvolvida pela Itautec. O sistema
desenvolvido pelo laboratório é atualmente parte integrante
da distribuição Librix.</p>

<p class="p_class">Em 2007, a parceria entre a Itautec S.A. e o Centro de
Informática da UFPE trouxe para o laboratório mais um
projeto de pesquisa e desenvolvimento com foco no
desenvolvimento de uma aplicação capaz de realizar a
autenticação de senhas baseadas na tecnologia OTP (One Time
Password): o MobiCash. O sistema evoluiu durante os anos de
2007 e 2008, recebendo o prêmio Excelência em P&amp;D do Anuário
Informática Hoje de 2008.</p>

<p class="p_class">Em 2009, o laboratório atuou principalmente nos projetos
Biometria e Librix Diagnostics Center – LDC. No primeiro,
atuando em parceria com a Itautec Jundiaí, a equipe
desenvolveu soluções de autenticação via sistemas
biométricos para clientes como Itaú e Banco do Brasil. No
segundo projeto – LDC – o laboratório desenvolveu o LDC 1.0,
ferramenta de diagnósticos de hardware que é parte
integrante da versão 4.0 do Librix.</p>

<p class="p_class">Os anos de 2010 e 2011 foram marcados pelo amadurecimento
das soluções biométricas desenvolvidas em parceria entre a
Itautec e a UFPE e pelos estudos e definições para o projeto
LDC Automação, versão mais nova do LDC 1.0 que foi integrado
ao AutoManager da Itautec. Além disso, evoluímos no Centro
de Informática projetos na área de automação comercial,
aprofundando a parceria com a Itautec através da
participação no desenvolvimento dos principais produtos.</p>

<p class="p_class">Em 2012 e 2013 tivemos evolução no laboratório na área de 
biometria relacionada à detecção de digitais falsas, criando 
 uma base de digitais falsas para a análise da performance quanto 
a detecção de digitais falsas dos dispositivos biométricos e 
dos algoritmos desenvolvidos. A base foi criada com digitais 
falsas de silicone e de cola de madeira seguindo os métodos 
utilizados pela academia neste campo de pesquisa. Tivemos duas 
publicações no projeto de biometria, a primeira foi titulada 
de A fingerprint spoof detection based on MLP and SVM, na 
conferência IJCNN (International Joint Conference on Neural 
Networks 2012) em Brisbane, Australia. A segunda publicação 
foi titulada de A modular architecture based on image quality 
for fingerprint spoof detectio, na conferência SMC (International
Conference on Systems, Man, and Cybernetics 2012), em Seoul, 
South Korea. Em 2013, foi submetido para a competição LiveDet 
2013 (Fingerprint Liveness Detection Competition 2013) um 
algoritmo desenvolvida no laboratório, no qual teve um 
resultado bom e perto dos demais competidores. Além disso, 
na base de um dos sensores biométricos, o algoritmo alcançou 
o segundo melhor resultado.</p>

<p class="p_class">No ano de 2012 foi dado inicio aos trabalhos na linha de 
Business Intelligence (BI), no qual o laboratório atuou como 
parceiro da Itautec no desenvolvimento de soluções para 
construir produtos de BI complementares aos produtos da Itautec, 
contendo um armazém de dados e painéis gerenciais flexíveis com 
informações estratégicas. O laboratório continuará trabalhando 
na evolução dos projetos, sendo que com a BR Automação que 
assumiu as operações de Automação e Serviços da Itautec a partir 
de setembro de 2013.</p>

<p class="p_class">Em 10 de janeiro de 2014, a OKI Brasil anunciou o início de suas 
operações no Brasil, focadas em prover soluções de automação bancária, 
automação comercial e serviços tecnológicos. A empresa, que faz parte 
do grupo japonês OKI Electric, foi criada a partir da estrutura de 
Automações e Serviços da Itautec. A parceria estabelece OKI Electric 
e Itautec como sócias na OKI Brasil, com participações de 70% e 30%, 
respectivamente.</p>

<p class="p_class">Em 2014 trabalhamos no projeto que consistia em uma tecnologia de detecção de impressões digitais falsas via-software. A tecnologia utiliza descritores produzidos para diferenciar uma imagem de impressão digital falsa e de uma impressão digital verdadeira. Tais descritores foram produzidos utilizando técnicas de Processamento de Imagens e Visão Computacional. Além disso, técnicas de Aprendizagem de Máquina são utilizadas para refinar um algoritmo capaz de classificar uma imagem entre falsa ou verdadeira. A técnica foi produzida após um extensivo estudo da Literatura e de comparações com outras técnicas em bases de dados públicas. Uma vez maturada, a técnica foi capaz de ser produzida para operar em sensores comerciais, como o Futronic-FS80/88 e o Lumidigm V302. O produto foca na operação desses dois sensores, produzindo um módulo capaz de detectar impressões digitais falsas utilizando apenas a imagem produzida pelo sensor.</p>

<p class="p_class">Em 2015 trabalhamos em Biometria no projeto que consistia no desenvolvimento do módulo que poderá ser executado na ATM para identificar eventos a respeito da presença da pessoa que está utilizando a máquina. O módulo utilizará a câmera da ATM e identificará quando o usuário estiver na cena e quando ele se ausentar. Além disso, o sistema também deverá detectar a presença de outras pessoas na cena ou até mesmo quando outra pessoa (um impostor) passar a utilizar a ATM. A validação das técnicas envolvidas no processo de rastreamento em tempo real da face do usuário ocorreu nesse projeto, através da utilização de uma base de vídeos que simulam a utilização de um ATM. A validação ocorreu de modo que o módulo possa ser executado nas diversas condições onde uma ATM possa ser utilizada. Foi estudado também em 2015, abordagens para atualização da tecnologia BioSD 1.5 a fim de melhorar seu desempenho. Tais abordagens não irão modificar inteiramente a arquitetura do BioSD. O objetivo foi encontrar mudanças pontuais que melhorem o desempenho da tecnologia em tipos de falsificações específicas. Atualmente, o BioSD utiliza um único modelo matemático (classificador) que é estimado utilizando imagens de dedos vivos e imagens de falsificações, provenientes de vários tipos de falsificações. Isso significa que esse modelo matemático não é especializado em nenhum tipo de falsificação específica e apresenta uma análise geral de falsificações. O objetivo é analisar a possibilidade de se utilizar um conjunto de classificadores (ao invés de um) especializados em diferentes tipos de falsificações. Trabalhamos na evolução do produto AutoManager (solução de gerenciamento remoto e monitoramento em tempo real de ativos e processos críticos e do autoatendimento) na migração do Agente do AutoManager para JAVA, no qual foi projetado a nova arquitetura, prototipado e iniciado o desenvolvimento da nova arquitetura.</p>

<p class="p_class">Em 2016 iniciamos o trabalho com o sistema Tesoureiro Eletrônico (XCash), no qual foi um novo produto da OKI Brasil que permite fazer, remotamente, o controle financeiro de empresas que possuam cofres/TCR em suas lojas. O XCash funciona como um sistema centralizador onde um usuário poderá enviar ao cofre autorizações de saque e depósito, cancelamento de autorizações, consultas de status dos cassetes e consulta de movimentações. O resultado foi um novo sistema XCash contendo sua interface gráfica (JSF + Primefaces), assim como as comunicações, via protocolo SOAP, com o CASI e o Sistema WebTeller (responsável pelos cofres/TCRs). Trabalhamos na Prova de Conceito (POC) para a migração do SIAC Store para uma nova arquitetura, durante esse período foi feito um estudo em cima da implementação atual do SIAC Store com o intuito de refatorar apenas o módulo "cliente" do SIAC Store, assim como foi realizada a montagem do ambiente SIAC Store no laboratório da OKI Brasil. Tivemos o projeto da nova Arquitetura ScopeTransf que tem por objetivo converter o módulo do ScopeTransf da linguagem Visual Basic para Java, utilizando boas práticas e padrões de projetos maduros, dando suporte a várias instâncias de transferência e importação de cadastros a partir de arquivos texto e bancos de dados. Tivemos a implementação de uma nova interface gráfica para o PoS, utilizando a tecnologia Java e JavaFX. O PoS é uma versão da aplicação de frente de loja do sistema de automação comercial da OKI Brasil (SIAC) que visa incorporar todas as versões previamente existentes do SIAC (MOP, ABNT e Prizis) em uma solução única e estruturada em termos de componentes reutilizáveis.</p>

<p class="p_class">Em Biometria trabalhamos em 2016 no estudo referente a um novo módulo do OKI Face Tracker que consiste em identificar quando o usuário sendo rastreado está em uma boa posição. O objetivo do estudo é avaliar vários aspectos que definem uma boa fotografia de um rosto humano, para posterior utilização destas imagens em auditorias ou em técnicas de reconhecimento facial. Os aspectos avaliados foram tanto óticos quanto não óticosa. Trabalhamos na nova abordagem para o cálculo do índice de qualidade usado para as imagens no módulo de identificação de melhor posição para foto. Para saber quais as melhores imagens, é calculado um índice para cada uma delas a fim de ordená-las. Tivemos o estudo da Identificação de Face verdadeira e não Foto, com o objetivo de identificar quando uma face identificada pelo OKI Face Tracker é referente a uma pessoa verdadeira ou uma falsificação. Uma falsificação de face é qualquer reapresentação à câmera, podendo ser a reapresentação de uma foto (papéis fotográfico e comum ou display de celular/tablet) ou de um vídeo (celular ou tablet). Realizamos o estudo de abordagem com Tecnologia Deep Learning com o objetivo a avaliação de novas abordagens de aprendizagem de máquina para o problema de detecção de fraudes em impressão digital. Tais abordagens referem-se a técnicas recentes de modelos gráficos (redes neurais) profundos treinados via minimização de energia. Tal abordagem é comumente referenciada como Deep Learning. A ideia básica dessa demanda consiste na equipe estudar esses novos métodos de aprendizagem de máquina, realizar o desenvolvimento de algumas técnicas e aplicá-las ao problema. E, por fim, o objetivo é planejar uma proposta de técnica utilizando essa abordagem para ser desenvolvida e avaliada posteriormente.</p>

<p class="p_class">Em 2017 tivemos o desenvolvimento do sistema XCash, com o objetivo de atualizar o módulo de controle de valores do SIAC Store/Internacional, além de garantir a integração com o cofre TCR / TG7 Cofre OKI Brasil. Dentro de suas principais funções estão a possibilidade de lançar e conferir valores que passaram por uma empresa, além de estabelecer autorizações de saque e depósito no TCR. Iniciamos o estudo e desenvolvimento de um protótipo que valide o isolamento das regras de promoções já existentes no Aplicativo (sistema legado de PDV). Dessa forma, um módulo responsável pelo cálculo de todas as promoções cadastradas no SIAC poderia executar suas funções de forma isolada do PDV, garantindo maior facilidade na manutenção.</p>

<p class="p_class">Em biometria trabalhamos em 2017 no desenvolvimento de uma estação de cadastro biométrico, uma estação de verificação biométrica e um sistema web para consultas de operações de cadastro e verificação para serem apresentados na CIAB FEBRABAN 2017, contemplando as biometrias de digital e facial. Pesquisa e desenvolvimento de técnicas para detecção de falsificação em imagens de face e de impressões digitais. Criação de bases de dados de falsificações de faces e de impressões digitais. Análise de performance em detecção de falsificação de sensores biométricos de terceiros. Criação de módulo para classificar a qualidade de imagens de face baseado em diretrizes impostas pela ICAO. Validação de atualização de sensores da Lumidigm e análise de novos sensores da Futronic e da Morpho. Participação da competição LivDet 2017. Início do desenvolvimento da versão em Android do projeto OKI Face Capture. Fornecimento de um kit de software biométrico que atenda aos requisitos especificados no edital da Caixa Econômica Federal e uma prova de conceito para sua demonstração. Criação do BioVerif, um módulo com tela para verificação de identidade com sua realização feita internamente por um leitor de digital Lumidigm V401 criptografado para o Sistema de Gestão de Identidades da Secretaria de Segurança Pública de Goiás. Criação de um sistema web para gerenciamento do servidor biométrico UniqueID Server que tenha controle de acesso, permita a criação, alteração e consulta de usuários, permita consultar operações de cadastro, verificação e identificação e permita a consulta de terminais, ativá-los e desativá-los.</p>

<p class="p_class">Em 2018 tivemos a evolução do módulo de Tesouraria, acrescentando as seguintes funcionalidades ao sistema: tratamento de reembolsos, relatório Borderô, relatório Mapa de Tesouraria, Exportação dos Movimentos, Suprimento de Fundo de Troco, Gerar Guia de Transporte de Valores, Saque Western Union, Relatórios de Meios de Pagamento, Monitor de Loja, Retransmissão de Dados e Cadastro de Cofres. Além de um protótipo que valide a execução do sistema em um servidor mais novo, o Wildfly 10, assim como a utilização de versões mais novas do Java e do Hibernate. Em biometria trabalhamos na pesquisa em detecção de expressões faciais, melhores práticas ICAO e desenvolvimento do mobile facial e sua integração com a plataforma, com intuito de expansão do uso de biometria nos celulares.</p>


<p class="p_class">Atualmente o <b>Laboratório NCR Tech CIn-UFPE</b> mantém duas linhas de pesquisa.</p>

<ul  style="padding-left: 5%;">
    <li style=" list-style-type: circle;">Automação Bancária - Biometria</li>
    <li style=" list-style-type: circle;">Automação Comercial - Arquitetura de Software</li>
</ul>

<p class="p_class">Para saber mais sobre os projetos em desenvolvimento e as
pesquisas concluídas, <a href="/projetos">clique aqui</a></p>